@model List<ApplicationUser>

<h1>Клиенти</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Потребителско име</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Имейл</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.UserName</td>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td>@obj.Email</td>
            </tr>
        }
    </tbody>
</table>
